<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="c985d8a28ca84c3e86cf9e249f81eea3" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_c985d8a28ca84c3e86cf9e249f81eea3 = echarts.init(
            document.getElementById('c985d8a28ca84c3e86cf9e249f81eea3'), 'white', {renderer: 'canvas'});
        var option_c985d8a28ca84c3e86cf9e249f81eea3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4e2d\u56fd",
                    "value": 119,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,62,100)"
                        }
                    }
                },
                {
                    "name": "\u7f8e\u56fd",
                    "value": 22,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,35,147)"
                        }
                    }
                },
                {
                    "name": "\u5fb7\u56fd",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,21,149)"
                        }
                    }
                },
                {
                    "name": "\u5370\u5ea6",
                    "value": 45,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,33,132)"
                        }
                    }
                },
                {
                    "name": "\u6cd5\u56fd",
                    "value": 33,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,132,50)"
                        }
                    }
                },
                {
                    "name": "\u4fc4\u7f57\u65af",
                    "value": 42,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,82,158)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "LinGan WordCloud",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c985d8a28ca84c3e86cf9e249f81eea3.setOption(option_c985d8a28ca84c3e86cf9e249f81eea3);
    </script>
</body>
</html>
