<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ea8fb6082e8e4d198f9bff7a9f25db22" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ea8fb6082e8e4d198f9bff7a9f25db22 = echarts.init(
            document.getElementById('ea8fb6082e8e4d198f9bff7a9f25db22'), 'white', {renderer: 'canvas'});
        var option_ea8fb6082e8e4d198f9bff7a9f25db22 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Transaction Data",
            "legendHoverLink": true,
            "data": [
                1,
                404,
                2930,
                5880,
                4416,
                5427,
                6603,
                6087,
                6730,
                7215,
                6682,
                3760,
                4541,
                2303,
                3955,
                3326,
                2764,
                3832,
                3654,
                6509,
                3464,
                1218,
                1289,
                853,
                172,
                80
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Transaction Data"
            ],
            "selected": {
                "Transaction Data": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                11.92,
                11.93,
                11.94,
                11.95,
                11.96,
                11.97,
                11.98,
                11.99,
                12.0,
                12.01,
                12.02,
                12.03,
                12.04,
                12.05,
                12.06,
                12.07,
                12.08,
                12.09,
                12.1,
                12.11,
                12.12,
                12.13,
                12.14,
                12.15,
                12.16,
                12.17
            ]
        }
    ],
    "title": [
        {
            "text": "count",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_ea8fb6082e8e4d198f9bff7a9f25db22.setOption(option_ea8fb6082e8e4d198f9bff7a9f25db22);
    </script>
</body>
</html>
