<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="4ab1ce83f74942da9b905eb4ff80ea34" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_4ab1ce83f74942da9b905eb4ff80ea34 = echarts.init(
            document.getElementById('4ab1ce83f74942da9b905eb4ff80ea34'), 'white', {renderer: 'canvas'});
        var option_4ab1ce83f74942da9b905eb4ff80ea34 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Transaction Data",
            "legendHoverLink": true,
            "data": [
                470,
                521,
                557,
                429,
                145,
                266,
                711,
                400,
                136,
                60,
                549,
                64,
                280,
                141,
                65,
                480,
                285,
                74,
                394,
                310,
                41,
                334,
                159,
                123,
                191,
                37,
                45,
                415,
                73,
                355,
                196,
                792,
                226,
                266,
                327,
                71,
                139,
                197,
                107,
                90,
                90,
                79,
                229,
                378,
                38,
                218,
                99,
                185,
                247,
                62,
                332,
                49,
                117,
                95,
                177,
                58,
                67,
                990,
                417,
                174,
                439,
                61,
                236,
                162,
                62,
                235,
                63,
                276,
                86,
                244,
                82,
                187,
                225,
                37,
                848,
                176,
                1415,
                695,
                297,
                478,
                31,
                521,
                738,
                55,
                67,
                32,
                87,
                110,
                230,
                175,
                420,
                76,
                204,
                141,
                61,
                311,
                421,
                590,
                36,
                97,
                153,
                151,
                499,
                80,
                576,
                121,
                179,
                126,
                429,
                297,
                746,
                36,
                93,
                946,
                332,
                201,
                95,
                39,
                142,
                33,
                83,
                46,
                71,
                29,
                53,
                115,
                36,
                34,
                20,
                47,
                17,
                39,
                21,
                50,
                107,
                123,
                32,
                164,
                142,
                11,
                65,
                43,
                27,
                185,
                981,
                276,
                18,
                110,
                168,
                35,
                39,
                33,
                21,
                149,
                15,
                45,
                43,
                128,
                238,
                49,
                11,
                72,
                62,
                51,
                263,
                74,
                87,
                81,
                117,
                174,
                672,
                835,
                158,
                127,
                157,
                229,
                31,
                391,
                346,
                44,
                454,
                267,
                86,
                122,
                53,
                56,
                141,
                32,
                29,
                11,
                237,
                16,
                33,
                15,
                106,
                109,
                81,
                33,
                210,
                66,
                149,
                84,
                198,
                871,
                148,
                133,
                192,
                52,
                154,
                33,
                245,
                143,
                547,
                2594,
                499,
                194,
                290,
                108,
                258,
                119,
                608,
                613,
                261,
                125,
                77,
                75,
                41,
                221,
                22,
                137,
                491,
                108,
                150,
                198,
                90,
                82,
                37,
                85,
                115,
                1034,
                16,
                302,
                873,
                168,
                46,
                194,
                39,
                36,
                28,
                38,
                184,
                21,
                50,
                30,
                346,
                984,
                85,
                101,
                15,
                13,
                54,
                543,
                194,
                267,
                47,
                57,
                84,
                606,
                32,
                1204,
                174,
                36,
                62,
                87,
                216,
                71,
                264,
                7,
                15,
                285,
                26,
                95,
                29,
                53,
                87,
                17,
                48,
                8,
                11,
                164,
                23,
                110,
                124,
                152,
                104,
                176,
                272,
                27,
                110,
                55,
                3236,
                78,
                150,
                204,
                37,
                160,
                56,
                34,
                41,
                215,
                2175,
                6,
                180,
                20,
                296,
                138,
                18,
                93,
                532,
                231,
                9,
                232,
                149,
                31,
                118,
                22,
                17,
                138,
                44,
                37,
                328,
                47,
                1390,
                338,
                53,
                743,
                17,
                24,
                84,
                16,
                54,
                19,
                158,
                125,
                301,
                216,
                229,
                73,
                37,
                135,
                422,
                72,
                28,
                87,
                494,
                299,
                111,
                116,
                50,
                197,
                180,
                26,
                318,
                26,
                22,
                4,
                82,
                18,
                13,
                543,
                120,
                113,
                18,
                177,
                59,
                220,
                2,
                199,
                7,
                268,
                83,
                58,
                265,
                71,
                148,
                12,
                39,
                237,
                75,
                90,
                147,
                70,
                86,
                92,
                57,
                127,
                241,
                18,
                160,
                197,
                92,
                45,
                28,
                312,
                738,
                56,
                22,
                125,
                345,
                94,
                828,
                415,
                2116,
                441,
                915,
                356,
                241,
                204,
                159,
                40,
                26,
                86,
                428,
                15,
                413,
                586,
                121,
                426,
                82,
                375,
                22,
                314,
                61,
                215,
                250,
                43,
                422,
                247,
                142,
                358,
                122,
                832,
                53,
                62,
                285,
                360,
                236,
                7,
                897,
                485,
                111,
                2,
                178,
                129,
                70,
                324,
                148,
                72,
                1160,
                53,
                108,
                18,
                59,
                283,
                41,
                496,
                197,
                26,
                124,
                184,
                99,
                126,
                20,
                272,
                75,
                56,
                47,
                32,
                503,
                144,
                481,
                199,
                63,
                101,
                186,
                68,
                23,
                187,
                72,
                325,
                1427,
                101,
                43,
                110,
                124,
                87,
                37,
                30,
                55,
                25,
                155,
                148,
                453,
                94,
                73,
                109,
                99,
                219,
                241,
                145,
                569,
                99,
                42,
                1099,
                112,
                315,
                166,
                200,
                82,
                251,
                32,
                155,
                271,
                107,
                67,
                83,
                34,
                120,
                36,
                345,
                146,
                12,
                34,
                215,
                291,
                41,
                626,
                76,
                17,
                198,
                533,
                289,
                251,
                31,
                17,
                64,
                87,
                208,
                215,
                519,
                38,
                94,
                163,
                435,
                156,
                64,
                39,
                321,
                223,
                1248,
                135,
                217,
                82,
                21,
                587,
                237,
                100,
                144,
                56,
                200,
                17,
                224,
                156,
                357,
                43,
                250,
                83,
                10,
                569,
                50,
                428,
                166,
                417,
                718,
                526,
                356,
                39,
                119,
                13,
                194,
                22,
                144,
                367,
                181,
                292,
                102,
                150,
                58,
                127,
                225,
                191,
                49,
                104,
                56,
                87,
                86,
                1035,
                86,
                186,
                173,
                261,
                298,
                41,
                164,
                103,
                210,
                114,
                268,
                123,
                707,
                221,
                86,
                234,
                170,
                71,
                24,
                39,
                37,
                560,
                227,
                151,
                227,
                741,
                60,
                121,
                97,
                37,
                29,
                410,
                376,
                189,
                41,
                90,
                219,
                46,
                139,
                155,
                758,
                132,
                112,
                139,
                342,
                780,
                244,
                137,
                32,
                665,
                81,
                81,
                103,
                281,
                61,
                112,
                9,
                206,
                61,
                98,
                84,
                27,
                681,
                935,
                84,
                76,
                14,
                2,
                292,
                46,
                11,
                83,
                196,
                254,
                271,
                110,
                83,
                12,
                100,
                130,
                240,
                253,
                44,
                201,
                17,
                76,
                67,
                95,
                111,
                24,
                62,
                99,
                10,
                1013,
                64,
                16,
                58,
                71,
                679,
                272,
                224,
                68,
                109,
                47,
                33,
                48,
                120,
                62,
                86,
                73,
                8,
                9,
                19,
                58,
                62,
                701,
                613,
                74,
                170,
                77,
                41,
                304,
                839,
                1484,
                33,
                211,
                36,
                571,
                48,
                449,
                931,
                650,
                4565,
                511,
                802,
                66,
                203,
                27,
                189,
                40,
                876,
                700,
                286,
                2,
                32,
                521,
                41,
                70,
                290,
                41,
                60,
                258,
                113,
                390,
                332,
                296,
                68,
                275,
                196,
                205,
                117,
                232,
                44,
                393,
                82,
                265,
                388,
                127,
                50,
                22,
                2,
                61,
                3170,
                308,
                445,
                254,
                34,
                78,
                57,
                489,
                234,
                1155,
                130,
                7,
                48,
                41,
                281,
                98,
                265,
                204,
                25,
                431,
                176,
                180,
                208,
                116,
                449,
                71,
                1067,
                259,
                66,
                482,
                612,
                360,
                701,
                391,
                151,
                1055,
                132,
                27,
                539,
                251,
                190,
                36,
                13,
                1356,
                1374,
                2476,
                549,
                91,
                244,
                340,
                8,
                53,
                29,
                70,
                25,
                314,
                151,
                76,
                155,
                114,
                161,
                20,
                30,
                258,
                139,
                399,
                114,
                79,
                105,
                131,
                90,
                30,
                41,
                62,
                563,
                119,
                37,
                247,
                305,
                230,
                419,
                177,
                218,
                181,
                163,
                560,
                399,
                6,
                347,
                237,
                1594,
                68,
                96,
                301,
                48,
                458,
                61,
                157,
                102,
                53,
                583,
                47,
                22,
                7,
                49,
                49,
                15,
                143,
                238,
                107,
                55,
                141,
                67,
                29,
                47,
                17,
                187,
                692,
                1205,
                547,
                110,
                416,
                11,
                57,
                82,
                78,
                446,
                448,
                307,
                46,
                30,
                110,
                72,
                171,
                236,
                680,
                417,
                833,
                5111,
                1522,
                123,
                23,
                538,
                309,
                650,
                88,
                252,
                1189,
                234,
                575,
                1162,
                201,
                198,
                117,
                15,
                65,
                287,
                30,
                28,
                198,
                91,
                159,
                389,
                645,
                1155,
                81,
                94,
                88,
                29,
                86,
                213,
                79,
                115,
                66,
                139,
                24,
                344,
                127,
                42,
                127,
                351,
                1878,
                141,
                301,
                214,
                326,
                270,
                468,
                214,
                337,
                203,
                282,
                4,
                28,
                168,
                126,
                155,
                166,
                442,
                139,
                79,
                78,
                121,
                104,
                61,
                258,
                225,
                339,
                2002,
                43,
                263,
                78,
                19,
                199,
                20,
                172,
                470,
                97,
                103,
                637,
                33,
                506,
                3430,
                221,
                136,
                418,
                44,
                192,
                411,
                136,
                10,
                11,
                113,
                591,
                274,
                413,
                54,
                32,
                82,
                47,
                95,
                189,
                47,
                25,
                60,
                96,
                89,
                16,
                309,
                403,
                596,
                1086,
                3213,
                306,
                101,
                182,
                677,
                43,
                208,
                381,
                101,
                621,
                95,
                6,
                61,
                101,
                59,
                62,
                22,
                120,
                39,
                100,
                686,
                869,
                307,
                492,
                98,
                103,
                342,
                129,
                362,
                166,
                2344,
                338,
                27,
                207,
                43,
                106,
                166,
                34,
                59,
                484,
                128,
                73,
                513,
                859,
                223,
                174,
                127,
                267,
                51,
                30,
                29,
                59,
                509,
                204,
                131,
                300,
                218,
                199,
                2315,
                234,
                57,
                147,
                103,
                105,
                109,
                44,
                16,
                16,
                573,
                82,
                29,
                100,
                39,
                115,
                134,
                190,
                84,
                40,
                78,
                17,
                215,
                60,
                154,
                142,
                153,
                40,
                25,
                100,
                32,
                1803,
                785,
                14,
                76,
                164,
                54,
                8,
                69,
                154,
                132,
                77,
                26,
                29,
                66,
                52,
                1258,
                220,
                94,
                240,
                256,
                364,
                211,
                263,
                70,
                23,
                92,
                145,
                57,
                234,
                258,
                20,
                784,
                92,
                64,
                900,
                39,
                43,
                239,
                27,
                122,
                147,
                6,
                218,
                41,
                260,
                42,
                117,
                78,
                41,
                645,
                373,
                44,
                54,
                136,
                54,
                27,
                280,
                272,
                178,
                58,
                375,
                27,
                570,
                148,
                200,
                192,
                95,
                92,
                216,
                70,
                443,
                1348,
                196,
                148,
                498,
                146,
                123,
                265,
                400,
                105,
                112,
                247,
                198,
                63
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Transaction Data"
            ],
            "selected": {
                "Transaction Data": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                326.0,
                326.01,
                326.3,
                326.46,
                326.49,
                326.5,
                326.51,
                326.77,
                326.84,
                326.98,
                327.0,
                327.01,
                327.09,
                327.19,
                327.22,
                327.3,
                327.35,
                327.45,
                327.5,
                327.7,
                327.75,
                327.77,
                327.82,
                327.83,
                327.84,
                327.85,
                327.88,
                327.91,
                327.93,
                327.97,
                327.98,
                328.0,
                328.01,
                328.02,
                328.03,
                328.06,
                328.07,
                328.08,
                328.1,
                328.11,
                328.14,
                328.16,
                328.19,
                328.2,
                328.22,
                328.24,
                328.25,
                328.28,
                328.3,
                328.34,
                328.35,
                328.38,
                328.4,
                328.41,
                328.45,
                328.47,
                328.48,
                328.49,
                328.5,
                328.55,
                328.58,
                328.6,
                328.65,
                328.7,
                328.79,
                328.8,
                328.85,
                328.88,
                328.89,
                328.9,
                328.91,
                328.92,
                328.93,
                328.96,
                328.98,
                328.99,
                329.0,
                329.01,
                329.02,
                329.04,
                329.05,
                329.07,
                329.08,
                329.09,
                329.1,
                329.12,
                329.14,
                329.16,
                329.18,
                329.2,
                329.23,
                329.24,
                329.3,
                329.35,
                329.4,
                329.45,
                329.48,
                329.5,
                329.52,
                329.55,
                329.58,
                329.59,
                329.6,
                329.61,
                329.63,
                329.67,
                329.7,
                329.8,
                329.88,
                329.9,
                329.92,
                329.97,
                329.99,
                330.0,
                330.01,
                330.1,
                330.16,
                330.26,
                330.32,
                330.35,
                330.38,
                330.41,
                330.46,
                330.48,
                330.5,
                330.56,
                330.58,
                330.59,
                330.61,
                330.68,
                330.7,
                330.76,
                330.8,
                330.86,
                330.87,
                330.88,
                330.89,
                330.9,
                330.92,
                330.93,
                330.95,
                330.96,
                330.97,
                330.98,
                331.0,
                331.01,
                331.02,
                331.03,
                331.04,
                331.05,
                331.06,
                331.07,
                331.09,
                331.1,
                331.15,
                331.17,
                331.19,
                331.2,
                331.21,
                331.23,
                331.26,
                331.29,
                331.3,
                331.36,
                331.38,
                331.39,
                331.4,
                331.41,
                331.46,
                331.49,
                331.5,
                331.51,
                331.52,
                331.53,
                331.54,
                331.55,
                331.56,
                331.57,
                331.58,
                331.59,
                331.6,
                331.61,
                331.62,
                331.63,
                331.64,
                331.65,
                331.66,
                331.67,
                331.68,
                331.69,
                331.7,
                331.75,
                331.76,
                331.77,
                331.79,
                331.8,
                331.81,
                331.83,
                331.84,
                331.85,
                331.86,
                331.87,
                331.88,
                331.9,
                331.91,
                331.92,
                331.93,
                331.94,
                331.95,
                331.96,
                331.97,
                331.98,
                331.99,
                332.0,
                332.01,
                332.02,
                332.03,
                332.04,
                332.05,
                332.06,
                332.07,
                332.09,
                332.1,
                332.11,
                332.12,
                332.13,
                332.18,
                332.2,
                332.24,
                332.26,
                332.27,
                332.28,
                332.29,
                332.3,
                332.31,
                332.32,
                332.34,
                332.38,
                332.4,
                332.5,
                332.51,
                332.55,
                332.59,
                332.6,
                332.61,
                332.62,
                332.63,
                332.64,
                332.65,
                332.67,
                332.7,
                332.71,
                332.74,
                332.76,
                332.79,
                332.8,
                332.81,
                332.82,
                332.84,
                332.85,
                332.89,
                332.9,
                332.91,
                332.93,
                332.95,
                332.96,
                332.97,
                332.98,
                332.99,
                333.0,
                333.01,
                333.02,
                333.03,
                333.04,
                333.05,
                333.06,
                333.07,
                333.08,
                333.09,
                333.1,
                333.11,
                333.12,
                333.14,
                333.15,
                333.18,
                333.2,
                333.21,
                333.22,
                333.23,
                333.26,
                333.27,
                333.28,
                333.29,
                333.3,
                333.33,
                333.34,
                333.35,
                333.38,
                333.4,
                333.43,
                333.5,
                333.51,
                333.52,
                333.53,
                333.54,
                333.55,
                333.56,
                333.57,
                333.58,
                333.59,
                333.6,
                333.61,
                333.62,
                333.63,
                333.66,
                333.67,
                333.68,
                333.69,
                333.7,
                333.72,
                333.74,
                333.79,
                333.8,
                333.81,
                333.83,
                333.84,
                333.85,
                333.86,
                333.9,
                333.94,
                333.96,
                333.99,
                334.0,
                334.01,
                334.02,
                334.03,
                334.04,
                334.05,
                334.08,
                334.09,
                334.1,
                334.12,
                334.13,
                334.15,
                334.18,
                334.2,
                334.22,
                334.23,
                334.24,
                334.25,
                334.26,
                334.27,
                334.28,
                334.29,
                334.3,
                334.31,
                334.32,
                334.33,
                334.34,
                334.35,
                334.38,
                334.39,
                334.4,
                334.41,
                334.42,
                334.43,
                334.44,
                334.45,
                334.46,
                334.5,
                334.51,
                334.52,
                334.53,
                334.55,
                334.56,
                334.58,
                334.59,
                334.6,
                334.61,
                334.62,
                334.63,
                334.64,
                334.65,
                334.66,
                334.67,
                334.68,
                334.69,
                334.7,
                334.72,
                334.73,
                334.74,
                334.75,
                334.76,
                334.77,
                334.78,
                334.79,
                334.8,
                334.82,
                334.83,
                334.84,
                334.85,
                334.86,
                334.87,
                334.88,
                334.9,
                334.91,
                334.94,
                334.95,
                334.96,
                334.97,
                334.98,
                334.99,
                335.0,
                335.01,
                335.02,
                335.03,
                335.04,
                335.05,
                335.06,
                335.07,
                335.08,
                335.09,
                335.1,
                335.11,
                335.12,
                335.13,
                335.14,
                335.16,
                335.17,
                335.18,
                335.19,
                335.2,
                335.21,
                335.22,
                335.23,
                335.24,
                335.25,
                335.26,
                335.27,
                335.28,
                335.29,
                335.3,
                335.31,
                335.32,
                335.34,
                335.35,
                335.36,
                335.37,
                335.38,
                335.39,
                335.4,
                335.41,
                335.42,
                335.43,
                335.44,
                335.46,
                335.48,
                335.49,
                335.5,
                335.51,
                335.52,
                335.53,
                335.56,
                335.58,
                335.59,
                335.6,
                335.61,
                335.63,
                335.64,
                335.65,
                335.66,
                335.67,
                335.68,
                335.69,
                335.7,
                335.74,
                335.75,
                335.77,
                335.78,
                335.79,
                335.8,
                335.86,
                335.88,
                335.89,
                335.9,
                335.91,
                335.92,
                335.93,
                335.96,
                335.99,
                336.0,
                336.01,
                336.02,
                336.04,
                336.06,
                336.07,
                336.08,
                336.1,
                336.13,
                336.15,
                336.16,
                336.18,
                336.19,
                336.2,
                336.21,
                336.22,
                336.23,
                336.24,
                336.25,
                336.26,
                336.27,
                336.28,
                336.29,
                336.3,
                336.31,
                336.32,
                336.33,
                336.34,
                336.36,
                336.37,
                336.38,
                336.39,
                336.4,
                336.41,
                336.42,
                336.44,
                336.45,
                336.46,
                336.49,
                336.5,
                336.51,
                336.52,
                336.53,
                336.55,
                336.58,
                336.59,
                336.6,
                336.64,
                336.65,
                336.66,
                336.67,
                336.68,
                336.7,
                336.71,
                336.72,
                336.78,
                336.79,
                336.8,
                336.81,
                336.82,
                336.83,
                336.85,
                336.88,
                336.89,
                336.9,
                336.93,
                336.95,
                336.97,
                336.99,
                337.0,
                337.01,
                337.02,
                337.03,
                337.04,
                337.06,
                337.07,
                337.09,
                337.1,
                337.13,
                337.15,
                337.17,
                337.18,
                337.2,
                337.21,
                337.22,
                337.23,
                337.27,
                337.28,
                337.31,
                337.32,
                337.35,
                337.49,
                337.5,
                337.55,
                337.59,
                337.6,
                337.61,
                337.62,
                337.66,
                337.68,
                337.69,
                337.7,
                337.72,
                337.73,
                337.77,
                337.78,
                337.8,
                337.85,
                337.86,
                337.88,
                337.9,
                337.91,
                337.94,
                337.96,
                337.98,
                337.99,
                338.0,
                338.01,
                338.02,
                338.05,
                338.07,
                338.08,
                338.09,
                338.11,
                338.12,
                338.14,
                338.15,
                338.16,
                338.18,
                338.2,
                338.24,
                338.25,
                338.28,
                338.3,
                338.33,
                338.35,
                338.37,
                338.38,
                338.4,
                338.42,
                338.47,
                338.48,
                338.5,
                338.51,
                338.52,
                338.54,
                338.55,
                338.59,
                338.6,
                338.61,
                338.62,
                338.65,
                338.66,
                338.7,
                338.72,
                338.73,
                338.74,
                338.75,
                338.76,
                338.77,
                338.78,
                338.79,
                338.8,
                338.81,
                338.83,
                338.84,
                338.86,
                338.87,
                338.88,
                338.89,
                338.9,
                338.91,
                338.92,
                338.93,
                338.94,
                338.95,
                338.96,
                338.97,
                338.98,
                338.99,
                339.0,
                339.01,
                339.02,
                339.03,
                339.04,
                339.05,
                339.09,
                339.1,
                339.13,
                339.14,
                339.15,
                339.18,
                339.19,
                339.2,
                339.25,
                339.28,
                339.29,
                339.3,
                339.32,
                339.33,
                339.34,
                339.35,
                339.38,
                339.39,
                339.4,
                339.43,
                339.44,
                339.45,
                339.47,
                339.49,
                339.5,
                339.51,
                339.52,
                339.54,
                339.55,
                339.58,
                339.59,
                339.6,
                339.61,
                339.62,
                339.63,
                339.64,
                339.67,
                339.68,
                339.7,
                339.71,
                339.73,
                339.74,
                339.75,
                339.76,
                339.77,
                339.78,
                339.79,
                339.8,
                339.81,
                339.82,
                339.86,
                339.87,
                339.88,
                339.89,
                339.9,
                339.91,
                339.93,
                339.94,
                339.95,
                339.96,
                339.97,
                339.98,
                339.99,
                340.0,
                340.01,
                340.02,
                340.03,
                340.04,
                340.05,
                340.06,
                340.09,
                340.1,
                340.11,
                340.16,
                340.18,
                340.19,
                340.2,
                340.21,
                340.24,
                340.25,
                340.26,
                340.27,
                340.28,
                340.29,
                340.3,
                340.31,
                340.32,
                340.33,
                340.34,
                340.35,
                340.36,
                340.37,
                340.38,
                340.39,
                340.4,
                340.41,
                340.42,
                340.43,
                340.45,
                340.46,
                340.47,
                340.48,
                340.49,
                340.5,
                340.51,
                340.52,
                340.54,
                340.55,
                340.56,
                340.57,
                340.58,
                340.59,
                340.6,
                340.61,
                340.62,
                340.63,
                340.64,
                340.65,
                340.66,
                340.67,
                340.68,
                340.69,
                340.7,
                340.71,
                340.72,
                340.75,
                340.76,
                340.77,
                340.79,
                340.8,
                340.81,
                340.82,
                340.83,
                340.84,
                340.85,
                340.87,
                340.88,
                340.89,
                340.9,
                340.91,
                340.92,
                340.93,
                340.94,
                340.95,
                340.96,
                340.97,
                340.98,
                340.99,
                341.0,
                341.01,
                341.03,
                341.04,
                341.05,
                341.07,
                341.08,
                341.09,
                341.1,
                341.11,
                341.12,
                341.13,
                341.14,
                341.15,
                341.16,
                341.17,
                341.18,
                341.19,
                341.2,
                341.21,
                341.22,
                341.23,
                341.25,
                341.26,
                341.27,
                341.29,
                341.3,
                341.31,
                341.32,
                341.33,
                341.34,
                341.35,
                341.37,
                341.38,
                341.39,
                341.4,
                341.41,
                341.42,
                341.43,
                341.44,
                341.45,
                341.46,
                341.47,
                341.48,
                341.49,
                341.5,
                341.51,
                341.52,
                341.53,
                341.54,
                341.55,
                341.56,
                341.57,
                341.58,
                341.59,
                341.6,
                341.61,
                341.62,
                341.63,
                341.64,
                341.65,
                341.66,
                341.68,
                341.69,
                341.7,
                341.71,
                341.72,
                341.73,
                341.74,
                341.75,
                341.77,
                341.78,
                341.79,
                341.8,
                341.81,
                341.82,
                341.83,
                341.84,
                341.85,
                341.86,
                341.87,
                341.88,
                341.89,
                341.9,
                341.91,
                341.92,
                341.93,
                341.94,
                341.95,
                341.96,
                341.97,
                341.98,
                341.99,
                342.0,
                342.01,
                342.02,
                342.03,
                342.04,
                342.05,
                342.06,
                342.07,
                342.09,
                342.1,
                342.11,
                342.12,
                342.13,
                342.14,
                342.15,
                342.16,
                342.17,
                342.18,
                342.2,
                342.21,
                342.23,
                342.24,
                342.26,
                342.27,
                342.28,
                342.29,
                342.3,
                342.31,
                342.32,
                342.33,
                342.34,
                342.35,
                342.37,
                342.38,
                342.39,
                342.4,
                342.42,
                342.43,
                342.45,
                342.46,
                342.47,
                342.48,
                342.49,
                342.5,
                342.51,
                342.53,
                342.54,
                342.55,
                342.56,
                342.58,
                342.59,
                342.6,
                342.61,
                342.62,
                342.63,
                342.65,
                342.66,
                342.67,
                342.68,
                342.69,
                342.7,
                342.71,
                342.72,
                342.73,
                342.74,
                342.75,
                342.76,
                342.77,
                342.78,
                342.79,
                342.8,
                342.83,
                342.84,
                342.85,
                342.86,
                342.87,
                342.88,
                342.9,
                342.91,
                342.93,
                342.96,
                342.97,
                342.98,
                342.99,
                343.0,
                343.01,
                343.03,
                343.05,
                343.07,
                343.1,
                343.12,
                343.13,
                343.15,
                343.17,
                343.18,
                343.2,
                343.23,
                343.25,
                343.28,
                343.29,
                343.3,
                343.32,
                343.33,
                343.35,
                343.37,
                343.38,
                343.4,
                343.43,
                343.44,
                343.45,
                343.46,
                343.47,
                343.48,
                343.49,
                343.5,
                343.51,
                343.52,
                343.54,
                343.55,
                343.56,
                343.57,
                343.58,
                343.59,
                343.6,
                343.61,
                343.63,
                343.64,
                343.67,
                343.7,
                343.8,
                343.81,
                343.83,
                343.85,
                343.87,
                343.88,
                343.9,
                343.91,
                343.92,
                343.94,
                343.95,
                343.96,
                343.97,
                343.98,
                343.99,
                344.0,
                344.01,
                344.02,
                344.03,
                344.05,
                344.06,
                344.07,
                344.08,
                344.09,
                344.1,
                344.11,
                344.12,
                344.13,
                344.15,
                344.16,
                344.17,
                344.18,
                344.2,
                344.22,
                344.23,
                344.28,
                344.29,
                344.3,
                344.35,
                344.36,
                344.37,
                344.38,
                344.39,
                344.4,
                344.41,
                344.42,
                344.43,
                344.44,
                344.45,
                344.46,
                344.47,
                344.48,
                344.49,
                344.5,
                344.51,
                344.52,
                344.53,
                344.54,
                344.58,
                344.6,
                344.61,
                344.62,
                344.63,
                344.67,
                344.7,
                344.8,
                344.83,
                344.85,
                344.88,
                344.93,
                344.94,
                344.95,
                344.98,
                344.99,
                345.0,
                345.01,
                345.02,
                345.03,
                345.04,
                345.05,
                345.06,
                345.08,
                345.11,
                345.12,
                345.13,
                345.15,
                345.16,
                345.17,
                345.19,
                345.2,
                345.21,
                345.22,
                345.25,
                345.27,
                345.28,
                345.29,
                345.3,
                345.31,
                345.33,
                345.35,
                345.36,
                345.37,
                345.38,
                345.4,
                345.41,
                345.46,
                345.48,
                345.49,
                345.5,
                345.51,
                345.52,
                345.53,
                345.54,
                345.55,
                345.58,
                345.59,
                345.6,
                345.61,
                345.62,
                345.64,
                345.67,
                345.68,
                345.69,
                345.7,
                345.71,
                345.72,
                345.73,
                345.75,
                345.77,
                345.78,
                345.8,
                345.81,
                345.83,
                345.84,
                345.85,
                345.88,
                345.89,
                345.9,
                345.91,
                345.92,
                345.93,
                345.95,
                345.97,
                345.98,
                345.99,
                346.0,
                346.01,
                346.02,
                346.03,
                346.05,
                346.06,
                346.08,
                346.09,
                346.1,
                346.12,
                346.13,
                346.15,
                346.17
            ]
        }
    ],
    "title": [
        {
            "text": "count",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_4ab1ce83f74942da9b905eb4ff80ea34.setOption(option_4ab1ce83f74942da9b905eb4ff80ea34);
    </script>
</body>
</html>
