<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="d5245f4d14514c08b18e5749663b8b91" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d5245f4d14514c08b18e5749663b8b91 = echarts.init(
            document.getElementById('d5245f4d14514c08b18e5749663b8b91'), 'white', {renderer: 'canvas'});
        var option_d5245f4d14514c08b18e5749663b8b91 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Transaction Data",
            "legendHoverLink": true,
            "data": [
                3496,
                464,
                459,
                605,
                8150,
                3691,
                14745,
                5772,
                8472,
                10481,
                4130,
                8262,
                15789,
                6868,
                14956,
                5548,
                11103,
                6871,
                2835,
                5934,
                3760,
                1571,
                5244,
                3350,
                10913,
                2218,
                1376,
                6068,
                3022,
                6294,
                6176,
                3634,
                10719,
                8954,
                16065,
                8838,
                11454,
                19764,
                6212,
                12538,
                14760,
                9890,
                11087,
                20149,
                50790,
                24862,
                24732,
                23214,
                19882,
                30550,
                15298,
                18906,
                20245,
                30534,
                36253,
                21383,
                20543,
                18983,
                15318,
                25271,
                16433,
                15766,
                14766,
                17916,
                40088,
                35239,
                26984,
                16903,
                18695,
                17394,
                19931,
                48710,
                25118,
                12894,
                12296,
                26686,
                11915,
                7105,
                5807,
                8031,
                2593,
                9758,
                13117,
                9714,
                4171,
                5111,
                1991,
                3832,
                1632,
                5711,
                3176,
                6540,
                10864,
                3033,
                14495,
                7551,
                840,
                4899,
                7238,
                5937,
                8922,
                7094,
                12181,
                14413,
                21436,
                15374,
                11678,
                10484,
                5374,
                9702,
                7394,
                6960,
                12869,
                10487,
                23230,
                7893,
                10322,
                8657,
                10711,
                7227,
                1371,
                7540,
                1577,
                3447,
                6853,
                1143,
                238,
                6215,
                1626,
                6861,
                7334,
                4912,
                4081,
                2515,
                5064,
                1486,
                917,
                1633,
                1777,
                4862,
                1436,
                1183,
                6037,
                6232,
                793,
                5426,
                435
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Transaction Data"
            ],
            "selected": {
                "Transaction Data": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                23.35,
                23.37,
                23.38,
                23.39,
                23.4,
                23.41,
                23.42,
                23.43,
                23.44,
                23.45,
                23.46,
                23.47,
                23.48,
                23.49,
                23.5,
                23.51,
                23.52,
                23.53,
                23.54,
                23.55,
                23.56,
                23.57,
                23.58,
                23.59,
                23.6,
                23.61,
                23.62,
                23.63,
                23.64,
                23.65,
                23.66,
                23.67,
                23.68,
                23.69,
                23.7,
                23.71,
                23.72,
                23.73,
                23.74,
                23.75,
                23.76,
                23.77,
                23.78,
                23.79,
                23.8,
                23.81,
                23.82,
                23.83,
                23.84,
                23.85,
                23.86,
                23.87,
                23.88,
                23.89,
                23.9,
                23.91,
                23.92,
                23.93,
                23.94,
                23.95,
                23.96,
                23.97,
                23.98,
                23.99,
                24.0,
                24.01,
                24.02,
                24.03,
                24.04,
                24.05,
                24.06,
                24.07,
                24.08,
                24.09,
                24.1,
                24.11,
                24.12,
                24.13,
                24.14,
                24.15,
                24.16,
                24.17,
                24.18,
                24.19,
                24.2,
                24.21,
                24.22,
                24.23,
                24.24,
                24.25,
                24.26,
                24.27,
                24.28,
                24.29,
                24.3,
                24.31,
                24.32,
                24.33,
                24.34,
                24.35,
                24.36,
                24.37,
                24.38,
                24.39,
                24.4,
                24.41,
                24.42,
                24.43,
                24.44,
                24.45,
                24.46,
                24.47,
                24.48,
                24.49,
                24.5,
                24.51,
                24.52,
                24.53,
                24.54,
                24.55,
                24.56,
                24.57,
                24.58,
                24.59,
                24.6,
                24.61,
                24.62,
                24.63,
                24.64,
                24.65,
                24.66,
                24.67,
                24.68,
                24.69,
                24.7,
                24.72,
                24.74,
                24.78,
                24.79,
                24.8,
                24.82,
                24.83,
                24.84,
                24.85,
                24.86,
                24.87,
                24.88
            ]
        }
    ],
    "title": [
        {
            "text": "count",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_d5245f4d14514c08b18e5749663b8b91.setOption(option_d5245f4d14514c08b18e5749663b8b91);
    </script>
</body>
</html>
