<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="78f9f0762ca34fd8b13e4080ca87cdcd" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_78f9f0762ca34fd8b13e4080ca87cdcd = echarts.init(
            document.getElementById('78f9f0762ca34fd8b13e4080ca87cdcd'), 'white', {renderer: 'canvas'});
        var option_78f9f0762ca34fd8b13e4080ca87cdcd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "min",
            "symbolSize": 10,
            "data": [
                [
                    "2020-11-10 14:25:39",
                    4.8
                ],
                [
                    "2020-11-3 09:36:16",
                    4.67
                ],
                [
                    "2020-11-4 10:36:59",
                    4.66
                ],
                [
                    "2020-11-5 10:31:18",
                    4.72
                ],
                [
                    "2020-11-6 14:11:45",
                    4.79
                ],
                [
                    "2020-11-9 10:57:03",
                    4.87
                ],
                [
                    "2020-11-10 14:25:39",
                    4.8
                ],
                [
                    "2020-11-11 11:04:22",
                    4.96
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "min"
            ],
            "selected": {
                "min": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-11-10 14:25:39",
                "2020-11-3 09:36:16",
                "2020-11-4 10:36:59",
                "2020-11-5 10:31:18",
                "2020-11-6 14:11:45",
                "2020-11-9 10:57:03",
                "2020-11-10 14:25:39",
                "2020-11-11 11:04:22"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Scatter-dailymin",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_78f9f0762ca34fd8b13e4080ca87cdcd.setOption(option_78f9f0762ca34fd8b13e4080ca87cdcd);
    </script>
</body>
</html>
