<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="188709edd51d49deb6c9abaeb37a1ab0" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_188709edd51d49deb6c9abaeb37a1ab0 = echarts.init(
            document.getElementById('188709edd51d49deb6c9abaeb37a1ab0'), 'white', {renderer: 'canvas'});
        var option_188709edd51d49deb6c9abaeb37a1ab0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "min",
            "symbolSize": 10,
            "data": [
                [
                    "2020-10-30 09:25:03",
                    8.04
                ],
                [
                    "2020-11-02 09:30:56",
                    8.03
                ],
                [
                    "2020-11-03 09:35:28",
                    8.17
                ],
                [
                    "2020-11-04 10:50:57",
                    8.21
                ],
                [
                    "2020-11-05 09:25:05",
                    8.29
                ],
                [
                    "2020-11-06 11:23:04",
                    8.27
                ],
                [
                    "2020-11-09 09:25:04",
                    8.31
                ],
                [
                    "2020-11-10 10:38:18",
                    8.16
                ],
                [
                    "2020-11-11 09:30:16",
                    8.22
                ],
                [
                    "2020-11-12 14:30:27",
                    8.19
                ],
                [
                    "2020-11-13 10:02:03",
                    8.1
                ],
                [
                    "2020-11-16 09:30:46",
                    8.17
                ],
                [
                    "2020-11-17 10:54:38",
                    8.28
                ],
                [
                    "2020-11-18 09:31:28",
                    8.27
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "min"
            ],
            "selected": {
                "min": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-10-30 09:25:03",
                "2020-11-02 09:30:56",
                "2020-11-03 09:35:28",
                "2020-11-04 10:50:57",
                "2020-11-05 09:25:05",
                "2020-11-06 11:23:04",
                "2020-11-09 09:25:04",
                "2020-11-10 10:38:18",
                "2020-11-11 09:30:16",
                "2020-11-12 14:30:27",
                "2020-11-13 10:02:03",
                "2020-11-16 09:30:46",
                "2020-11-17 10:54:38",
                "2020-11-18 09:31:28"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Scatter-dailymin",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_188709edd51d49deb6c9abaeb37a1ab0.setOption(option_188709edd51d49deb6c9abaeb37a1ab0);
    </script>
</body>
</html>
