<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1efc9c9e518f47c3b783cbd5b5486edb" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_1efc9c9e518f47c3b783cbd5b5486edb = echarts.init(
            document.getElementById('1efc9c9e518f47c3b783cbd5b5486edb'), 'white', {renderer: 'canvas'});
        var option_1efc9c9e518f47c3b783cbd5b5486edb = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "max",
            "symbolSize": 10,
            "data": [
                [
                    "2020-11-11 11:22:04",
                    4.99
                ],
                [
                    "2020-11-3 11:06:07",
                    4.74
                ],
                [
                    "2020-11-4 11:13:29",
                    4.74
                ],
                [
                    "2020-11-5 13:20:55",
                    4.83
                ],
                [
                    "2020-11-6 11:26:02",
                    4.85
                ],
                [
                    "2020-11-9 09:44:03",
                    4.97
                ],
                [
                    "2020-11-10 10:00:59",
                    4.89
                ],
                [
                    "2020-11-11 11:22:04",
                    4.99
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "max"
            ],
            "selected": {
                "max": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2020-11-11 11:22:04",
                "2020-11-3 11:06:07",
                "2020-11-4 11:13:29",
                "2020-11-5 13:20:55",
                "2020-11-6 11:26:02",
                "2020-11-9 09:44:03",
                "2020-11-10 10:00:59",
                "2020-11-11 11:22:04"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Scatter-dailymax",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1efc9c9e518f47c3b783cbd5b5486edb.setOption(option_1efc9c9e518f47c3b783cbd5b5486edb);
    </script>
</body>
</html>
