<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="6a77ecd88a24474e9066a24993725b34" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_6a77ecd88a24474e9066a24993725b34 = echarts.init(
            document.getElementById('6a77ecd88a24474e9066a24993725b34'), 'white', {renderer: 'canvas'});
        var option_6a77ecd88a24474e9066a24993725b34 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "name": "max",
            "symbolSize": 10,
            "data": [
                [
                    "2021-01-25 09:40:52",
                    19.16
                ],
                [
                    "2021-01-26 10:01:45",
                    19.48
                ],
                [
                    "2021-01-27 14:33:01",
                    20.2
                ],
                [
                    "2021-01-28 10:18:55",
                    19.92
                ],
                [
                    "2021-01-29 11:02:30",
                    21.48
                ],
                [
                    "2021-02-01 10:10:37",
                    22.47
                ],
                [
                    "2021-02-02 14:54:18",
                    24.07
                ],
                [
                    "2021-02-03 13:58:07",
                    25.0
                ],
                [
                    "2021-02-04 09:54:00",
                    24.88
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "max"
            ],
            "selected": {
                "max": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2021-01-25 09:40:52",
                "2021-01-26 10:01:45",
                "2021-01-27 14:33:01",
                "2021-01-28 10:18:55",
                "2021-01-29 11:02:30",
                "2021-02-01 10:10:37",
                "2021-02-02 14:54:18",
                "2021-02-03 13:58:07",
                "2021-02-04 09:54:00"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Scatter-dailymax",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_6a77ecd88a24474e9066a24993725b34.setOption(option_6a77ecd88a24474e9066a24993725b34);
    </script>
</body>
</html>
