<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/jquery-ui.css">

</head>
<body>
    <style>.box {  }; </style>
        <button onclick="downloadCfg()">Save Config</button>
    <div class="box">
                <div id="7238a72bf042426da3085cc7587547e5" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_7238a72bf042426da3085cc7587547e5 = echarts.init(
            document.getElementById('7238a72bf042426da3085cc7587547e5'), 'white', {renderer: 'canvas'});
        var option_7238a72bf042426da3085cc7587547e5 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "Transaction Data",
            "legendHoverLink": true,
            "data": [
                0,
                1745,
                4365,
                6106,
                3901,
                3731,
                3155,
                3281,
                4905,
                5890,
                8721,
                3992,
                4075,
                4243,
                4641,
                7690,
                6387,
                5120,
                5977,
                2624,
                6809,
                8703,
                9232,
                12904,
                17940,
                8923,
                4654,
                1991,
                2886,
                4118,
                6896,
                3305,
                1751,
                1605,
                2830,
                3013,
                5237,
                5858,
                1235,
                1397,
                2730,
                4789,
                2246,
                3700,
                5652,
                5149,
                2816,
                415,
                2368,
                4712,
                3454,
                1679,
                1439,
                973,
                1087,
                607,
                327
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Transaction Data"
            ],
            "selected": {
                "Transaction Data": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                0.0,
                9.63,
                9.64,
                9.65,
                9.66,
                9.67,
                9.68,
                9.69,
                9.7,
                9.71,
                9.72,
                9.73,
                9.74,
                9.75,
                9.76,
                9.77,
                9.78,
                9.79,
                9.8,
                9.81,
                9.82,
                9.83,
                9.84,
                9.85,
                9.86,
                9.87,
                9.88,
                9.89,
                9.9,
                9.91,
                9.92,
                9.93,
                9.94,
                9.95,
                9.96,
                9.97,
                9.98,
                9.99,
                10.0,
                10.01,
                10.02,
                10.03,
                10.04,
                10.05,
                10.06,
                10.07,
                10.08,
                10.09,
                10.1,
                10.11,
                10.12,
                10.13,
                10.14,
                10.15,
                10.16,
                10.17,
                10.18
            ]
        }
    ],
    "title": [
        {
            "text": "count",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7238a72bf042426da3085cc7587547e5.setOption(option_7238a72bf042426da3085cc7587547e5);
    </script>
<br/>                <div id="2aa4ee0c5d1d40708c0ad7eb3876d33d" class="chart-container" style="width:600px; height:400px;"></div>
    <script>
        var chart_2aa4ee0c5d1d40708c0ad7eb3876d33d = echarts.init(
            document.getElementById('2aa4ee0c5d1d40708c0ad7eb3876d33d'), 'white', {renderer: 'canvas'});
        var option_2aa4ee0c5d1d40708c0ad7eb3876d33d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 5,
            "data": [],
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "value",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": []
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_2aa4ee0c5d1d40708c0ad7eb3876d33d.setOption(option_2aa4ee0c5d1d40708c0ad7eb3876d33d);
    </script>
<br/>    </div>
    <script>
            $('#7238a72bf042426da3085cc7587547e5').resizable().draggable().css('border-style', 'dashed').css('border-width', '1px');$("#7238a72bf042426da3085cc7587547e5>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#7238a72bf042426da3085cc7587547e5'), function() { chart_7238a72bf042426da3085cc7587547e5.resize()});
            $('#2aa4ee0c5d1d40708c0ad7eb3876d33d').resizable().draggable().css('border-style', 'dashed').css('border-width', '1px');$("#2aa4ee0c5d1d40708c0ad7eb3876d33d>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#2aa4ee0c5d1d40708c0ad7eb3876d33d'), function() { chart_2aa4ee0c5d1d40708c0ad7eb3876d33d.resize()});
            var charts_id = ['7238a72bf042426da3085cc7587547e5','2aa4ee0c5d1d40708c0ad7eb3876d33d'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
