<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>floor 2</title>
<style type="text/css">
    html{overflow:auto;}
</style>
</head>
<body>
<table width="101%" border="0">
  <tr>
    <td width="11%" align="left" valign="top"> {% for i in codes %} <a href="/index/?code={{ i.code }}&startTime={{startTime}}&ipjipipijpijpijpijpoijpoijpoijpoijp=pijpoipoijpijpijp"> {{ i.title }}</a><br>
    {% endfor %} 
  <hr>
  <br/>
  
  {% for i in industryHot %} <a href="http://vip.stock.finance.sina.com.cn/mkt/# {{ i.industry_type }}"> {{ i.industry }}</a>  {{ i.percent }}<br>
  {% endfor %} 


  </td>
    <td width="89%" align="left" valign="top" style="overflow:auto">
	<script type="text/javascript">
        function calcHeight(iframeElement){
            var the_height=  iframeElement.contentWindow.document.body.scrollHeight;
            iframeElement.height=  the_height;
        }
        </script>	
	<table id="children1" width="100%" border="0">  
    
    <tr>
      <td width="49%"><iframe  src="/showAllX/?id=3&code={{ code }}&startTime={{ startTime }}" onLoad="calcHeight(this);" height="100%" width="100%" id="frame_full" frameborder="0" scrolling="no" ></iframe></td>
      <td width="51%"><iframe  src="/showAllX/?id=1&code={{ code }}&startTime={{ startTime }}" onLoad="calcHeight(this);" height="100%" width="100%" id="frame_full" frameborder="0" scrolling="no" ></iframe></td>
  </tr>
 
  <tr>
    <td><iframe  src="/showAllX/?id=4&code={{ code }}&startTime={{ start_time }}" onLoad="calcHeight(this);" height="100%" width="100%" id="frame_full" frameborder="0" scrolling="no" ></iframe></td>
    <td><iframe  src="/showAllX/?id=5&code={{ code }}&startTime={{ start_time }}" onLoad="calcHeight(this);" height="100%" width="100%" id="frame_full" frameborder="0" scrolling="no" ></iframe></td>
  </tr>

  <tr>
    <td>
      <iframe  src="/showAllX/?id=6&code={{ code }}&startTime={{ start_time }}" onLoad="calcHeight(this);" height="100%" width="100%" id="frame_full" frameborder="0" scrolling="no" ></iframe>
    </td>
    <td  align="left" valign="top" style="overflow:auto">
      {{ data15.modelDateTimeSelect }}
      <hr>
      {% for i in data15.data %}  
       {{ i.0 }} :{{ i.1 }} :  {{ i.2 }} <br>
     {{ i.3}} <br> <br>
      {% endfor %} 
      <br>
      {% for i in data15.modelList %}  
       {{ i.0}} : {{ i.3}} <br> <br>
      {% endfor %} 
      <hr>


    </td>
  </tr>
  <tr>
    <td><iframe  src="/showAllX/?id=2&code={{ code }}&startTime={{ start_time }}" onLoad="calcHeight(this);" height="100%" width="100%" id="frame_full" frameborder="0" scrolling="no" ></iframe></td>
    <td>：</td>
  </tr>
</table>     
      

  </tr>
</table>
</body>
</html>
